footer.p-2
  container.text-center
    p.float-left © 2019
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/jonniespratley/hackathon-starter')
        | #{name}
      li.list-inline-item
        a(href='https://github.com/jonniespratley/hackathon-starter/issues') Issues
