extends layout

block content
  .navbar.bg-dark.navbar-dark
    .container
      .navbar-brand Playlists
  .container
    form#searchForm.row.my-3
      .input-group.flex-nowrap.col-12
        .input-group-prepend
          span#addon-wrapping.input-group-text Q
        input#searchInput.form-control(type='search' placeholder='Search...' aria-label='Search' aria-describedby='addon-wrapping')
    
    .row
      .col-12
        ul#searchResults.media-list.media-list--sm
    
    .row
      .media-list.col-12
        each epoch in epochs
          +media(`${epoch.name}`, `${epoch.tracks.length}`, `${epoch.image}`, `/browse/${epoch.id}`) 


    