extends layout

block content
  .navbar.bg-dark.navbar-dark
    .container
      .navbar-brand Details
  .row.details.my-3
    .col-12
      .details-header
        .media-list
          +media(`${epoch.name}`, 'Artist', 'https://i.scdn.co/image/ab67616d0000b27334bf16d92ae11f8d3eadf295') 
        .line
        p This is the details body.
        .line
      
      .d-flex.justify-content-around
        button.btn.btn-light.btn-block.mr-4 
          i.fas.fa-play
          | Play
        button.btn.btn-light.btn-block.mt-0 
          i.fas.fa-random
          | Shuffle

      .details-body
        .line
        .media-list.media-list--sm
          each val in [1, 2, 3, 4, 5]
            +media('Title', 'Artist', 'https://i.scdn.co/image/ab67616d0000b27334bf16d92ae11f8d3eadf295') 
